body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color:#212a2f;
}
h1 {
font-size: 36px;
color: white;
    text-align:center;
}
.botao-voltar {
display: inline-block;
padding: 10px 20px;
background-color: red; /* Cor de fundo do botão */
color: #FFF; /* Cor do texto do botão */
text-decoration: none; /* Remove o sublinhado do link */
border-radius: 5px; /* Borda arredondada */
transition: background-color 0.3s; /* Transição suave de cor ao passar o mouse */
width:100%;
text-align:center;
}

.botao-voltar:hover {
background-color: #0056b3; /* Cor de fundo alterada ao passar o mouse */
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}