body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.imgur.com/SH9Gfe3.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: 100px auto;
    max-width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color:white;
    margin-top: 110px;
    margin-bottom:10px;
}
h1 {
font-size: 36px;
color: white;
}
.logo {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto; /* Mantém a proporção de aspecto da imagem */
}
b {color:red;}
.botao-entrar {
    display:block;
    margin: 0 auto;
    background-color: red;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
}
@media (max-width: 768px) {
    
    body {
background-position: center;
background-size: cover;
height:96vh;
}
h1 {
    font-size: 24px;
    color: white;
    }
}